body {
    --background-color: rgb(255, 255, 255);
    --topTab-color: rgb(82, 180, 245);
    --secondTab-color: rgb(127, 134, 139);
    --font-color: rgb(0, 0, 0);
    background-color: var(--background-color);
}

#header2 {
    display: inline-block;
    position: relative;
    left: 2%;
    color: var(--font-color)
}

#edit {
    text-align: center;
    padding-right: 1em;
    background-color: var(--topTab-color);
}

#tabBox {
    position: relative;
    left: 36%;
    bottom: 0.4em;
    display: inline-block;
}

#tabBox2 {
    position: relative;
    right: 35%;
    bottom: 0.4em;
    display: inline-block;
}

#editBox {
    position: relative;
    left: 34%;
    bottom: 0.4em;
    display: inline-block;
}

.activityButton {
    display: inline-block;
    text-align: center;
    padding: 0.2em 1em;
    margin: 0em 0.3em;
}

#ogProClone {
    display: none;
}

#graphs {
    margin-top: 1em;
    height: 18em;
}

#extraInfo {
    margin-top: 7em;
    text-align: center;
}

.info {
    display: inline-block;
    padding: 1em 1em;
    color: var(--font-color);
    font-size: 18px;
    text-align: center;
}

#alterButtons {
    text-align: center;
    background-color: var(--secondTab-color); 
    padding: 1em 0em;
}

#doughnut {
   display: inline-block;
   width: 30.3%;
   height: 20em;
   padding: 0.3em 3%;
}

#bar {
   display: inline-block;
   width: 60%;
   height: 20em;
   margin-left: 0.3em;
   margin-top: 0.3em;
}
